-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

.navbar.navbar-default{role: 'navigation'}

  .navbar-header 
    = link_to public_path, class: "navbar-brand" do
      %b Cider-CI

  .collaps.navbar-collapse

    %ul.nav.navbar-nav
      = render partial: "workspace/navbar_actions" if user?
      = render partial: "admin/navbar_actions" if admin?

    = render partial: "navbar/user"
    
  

