-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- executors ||= @executors

%ul.list-inline.actions.pull-right
  %li
    =link_to new_admin_executor_path, class: "btn btn-primary" do
      %i.icon-add
      Add a new executor


%h1 
  Executors


%table.table.table-striped.executors
  %thead
    %tr
      %th Enabled
      %th Online
      %th Name
      %th Load
      %th Provided traits
  %tbody
  = render partial: 'executor', collection: executors, as: :executor

= paginate executors, theme: 'default'

