-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%tr
  %td= email_address.email_address
  %td
    - if email_address.primary
      primary
    - else
      =link_to primary_email_address_workspace_account_path(email_address),method: 'POST', class: "btn btn-xs btn-default" do
        Set as primary
  %td
    =link_to delete_email_address_workspace_account_path(email_address), method: 'DELETE', class: "btn btn-xs btn-warning" do
      %i.icon-delete
      Remove
