-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%tr.repository

  %td
    = link_to admin_repository_path(repository) do
      %span.name #{repository.name}

  %td
    = repository.branches.count
    branches

  %td 
    created 
    =render 'humanized_time_from_now', at:  repository.created_at

