-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commits ||= @commits
- link_params ||= @link_params

- cache @commits_cache_signatures_array do 

  %table.commits.table.table-striped
    %thead
    %tbody
      =render partial: 'commit_tr', collection: commits, as: :commit


