-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commits ||= @commits
- link_params ||= @link_params

- cache [@link_params,@commits_cache_signatures_array] do |cache_tag|

  #reload-page.executions-page{data: {cache_tag: cache_tag, reload_timeout: 3}}

    = render 'index_head', params: params

    = render 'commits_table', commits: commits, link_params: link_params

    = paginate commits, theme: 'default'

