-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commit ||= commit || nil
-# current_commit = @current_commits.select{|cc| cc.id == branch.current_commit_id}.first
- current_commit= branch.current_commit
- level = current_commit.depth - commit.depth if commit
%li.branch-li
  %i.icon-branch<
  %span.nowrap<>
    -if commit and  current_commit.id == commit.id
      %b<> #{branch}
    -else
      = branch
    %sub<>
      -if commit and current_commit.id == commit.id
        %i.icon-branch-head<>
      -else
        #{level}
