-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- # we should not need the Commit.collection_cache_tag; it seems that 
- # the updated_at on brach is not reliably updated
- cache [@branches.collection_cache_tag, Commit.collection_cache_tag] do
  .branch_heads

    %h2 
      %i.icon-sitemap
      Most recent updated heads
    %small
      %table.branch_heads.table.table-striped
        %thead
          = render partial: "branch_head_head"
        %tbody
          = render partial: "branch_head_row", collection: @branches, as: :branch

    = paginate @branches, theme: 'default'

