-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- branches ||= @branches
- executions ||= @executions
- executors ||= @executors
- repositories ||= @repositories
- repositories ||= @repositories 

%h1 
  %i.icon-dashboard
  Dashboard


%h2 
  =link_to workspace_executions_path do
    Executions

%h2 
  =link_to workspace_commits_path do
    Commits


.executors 
  %h2 
    %i.icon-cogs
    Executors 

  %table.executors.table.table-striped
    %thead
    %tbody
      = render partial: 'executor_row', collection: executors, as: :executor
    %tfoot
      %tr
        %td=link_to "more ...", workspace_executors_path 
