-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


%h1 ENV

%table.table.table-striped
  %thead
  %tbody
    - ENV.sort.each do |k,v|
      %tr
        %td= k
        %td= v


%h1 URL HELPERS

%table.table.table-striped
  %thead
  %tbody

