-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- task ||= @task
- delay = %(pending executing).include?(task.state) ? 30 : 180
- cache [task,task.trials] do |cache_tag|
  %tr.task{id: task.id,data:{reload:{enabled: true, delay: delay, partial: 'task_tr', path: workspace_task_path(task), cache_tag: cache_tag}}}
    %td.state
      =link_to workspace_task_path(task) do
        =label_for_state task.state
    %td.name
      =link_to workspace_task_path(task) do
        =task.name
    - cache task.trials.collection_cache_tag do
      %td.trials
        %ul.list-inline.trials
          - task.trials.reorder(:created_at).each do |trial| 
            - cache trial do
              - state = trial.state
              %li.trial
                = link_to workspace_trial_path(trial), class: "label #{label_class_for_state(state)}" do
                  %i{class: icon_class_for_state(state)} 
    %td.actions
      .pull-right
        = link_to retry_workspace_task_path(task), remote: true, method: 'POST', data: {task_id: task.id}, class: "retry button reload btn btn-primary btn-xs" do
          %i.icon-retry
          Retry
