-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- execution ||= @execution
- cs = execution.execution_cache_signature
- tasks ||= @tasks
- cache [execution,cs.tasks_signature,cs.trials_signature,@tasks_select_condition,@page] do |cache_tag|
  - delay = %(pending executing).include?(execution.state) ? 30 : [60*5,[30,(Time.zone.now - execution.updated_at)].max].min
  - # we only need to replace when ids change
  - reload_cache_tag =  Digest::MD5.hexdigest([tasks.map(&:id)].to_s)
  #tasks.tasks{data:{reload:{enabled: true, delay: delay, partial: 'tasks', path: tasks_workspace_execution_path(execution,tasks_select_condition: @tasks_select_condition, page: @page), cache_tag: reload_cache_tag}}}

    .pull-right
      = form_tag workspace_execution_path(execution), method: 'GET', class: "form-inline" do

        %fieldset
          .pull-right
            %ul.list-inline
              %li 

                .form-group
                  %label.sr-only{for: "tasks_select_condition"}
                  = select_tag :tasks_select_condition, 
                    options_for_select([["All",:all],["With failed trials",:with_failed_trials],["Only failed",:failed]],@tasks_select_condition), 
                    class: "form-control"

              %li
                =button_tag type: 'submit', class: 'btn btn-sm btn-primary' do
                  %i.icon-filter
                  Apply

    %h2 Tasks 




    -# use the ids instead of the cache tag for judging replacement
    %table.tasks.table.table-striped
      %thead
      %tbody
        - tasks.each do |task| 
          - cache [task,task.trials] do |cache_tag|
            = render 'task_tr', task: task, cache_tag: cache_tag


    = paginate tasks, theme: 'default'



