-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- task ||= @task
%h1 Task "#{task.name}"


%h2 Trials

%table.table.striped
  %thead
  %tbody
    - task.trials.reorder(created_at: :asc).each_with_index do |trial,i|
      %tr
        %td
          = link_to workspace_trial_path(trial) do
            =(i+1).ordinalize
        %td
          %ul.list-inline 
            = render partial: 'script_label', collection: trial.scripts, as: :script, locals: {trial: trial}



%h2 Properties
%table.table.table-bordered.table-condensed
  %thead
  %tbody
    - task.attributes.reject{|k,v| %().include? k}.sort.each do |k,v|
      %tr 
        %td=k 
        %td
          %pre.script{style: "border: none; padding: 0; margin: 0"}<>= (v.is_a? Array or v.is_a? Hash) ? v.to_yaml : v

