-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%tr.definition
  %td= definition.name
  %td= definition.description
  %td
    %ul.actions.list-inline
      %li 
        = link_to admin_definition_path(definition), method: "DELETE", class: "button btn btn-sm btn-danger" do
          %i.icon-delete
          Destroy
      %li
        = link_to edit_admin_definition_path(definition), class: "button btn btn-sm btn-warning" do
          %i.icon-edit
          Edit


