-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- execution ||= @execution
- cs = execution.execution_cache_signature
- cache [execution,cs.stats_signature,cs.trials_signature] do |cache_tag|
  - speedup = (execution.accumulated_time/execution.duration).round(2) rescue nil
  - duration = execution.duration.round rescue nil
  - time = execution.accumulated_time.round rescue nil

  %table.table.summary
    %thead
    %tbody
      %tr
        - if speedup
          %td Speedup: #{speedup}
        - if duration
          %td 
            Duration: 
            %span.humanize-duration{data: {duration: duration}} #{duration} seconds
        - if time
          %td 
            Processing time: 
            %span.humanize-duration{data: {duration: time}} #{time} seconds

  .stats{data: {state: execution.state}}= render "new_execution_stat", execution: execution


