-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%li
  - link_tags=  @link_params["execution_tags"] || "" rescue ""
  - link_params= @link_params.merge({execution_tags: (link_tags << ", #{tag.tag}")})
  =link_to workspace_executions_path(link_params), class: "label label-default" do
    =tag.tag

