-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- executions ||= @executions
- link_params ||= @link_params


- cache @execution_cache_signatures.map{|cs| [@executions,cs.commits_signature,cs.branches_signature]} do |cache_tag|
 

  #reload-page.executions-page{data: {cache_tag: cache_tag, reload_timeout: 5}}

    .pull-right
      =render 'index_filter_form'

    %h1 
      Executions



    .clearfix

    = render partial: "executions_table", executions: executions, link_params: link_params

    = paginate executions, theme: 'default'


