-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%tr
  %td=branch_update_trigger.branch.repository
  %td=branch_update_trigger.branch.name
  %td=branch_update_trigger.definition
  %td=branch_update_trigger.active
  %td
    %ul.list-inline
      %li 
        =link_to admin_branch_update_trigger_path(branch_update_trigger), method: 'DELETE', class: "btn btn-danger btn-sm" do
          %i.icon-delete
          Delete
        =link_to edit_admin_branch_update_trigger_path(branch_update_trigger), class: "btn btn-warning btn-sm" do
          %i.icon-edit
          Edit


