@import jquery.ui.all
@import codemirror


@import bootstrap
@import 'font-awesome/font-awesome'
@import 'icons'

$cider-ci-success-color: $brand-success !default
$cider-ci-failed-color: $brand-danger !default
$cider-ci-pending-color: $gray-light !default
$cider-ci-executing-color: $brand-warning !default


@mixin striped-executing() 
  //background-image: -webkit-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent)
  //background-image: -o-linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent)
  background-image:  repeating-linear-gradient(45deg,$cider-ci-success-color,$cider-ci-failed-color 3px, $cider-ci-success-color 6px)

.success
  color: $cider-ci-success-color !important
.failed 
  color: $cider-ci-failed-color !important


.commit-id
  font-family: monospace

.execution
  table.commits
    tr.commit
      td.executions, td.actions
        display: none
  table.summary
    td.stats
      &[data-state='pending'], &[data-state='dispatched'] , &[data-state='executing']
        display: none
    

span.nowrap, strong.nowrap
  white-space: nowrap

.well.right-top-form
  padding: 7px
  ul.list-inline
    margin: 7px


ul.tasks-overview
  >li
    width: 2em
    height: 2em

table.summary
  width: initial
  tbody
    tr
      td
        border: initial 
        vertical-align: middle


table.new-execution-stats
  td
    text-align: center
    vertical-align: middle
    color: $progress-bar-color !important
    &.failed
      background-color: $cider-ci-failed-color
    &.success
      background-color: $cider-ci-success-color !important
    &.executing
      @include striped-executing
    &.pending
      background-color: $gray-light !important



table.execution-stats
  margin: 0px
  width: 12em
  td
    text-align: center
    padding: 0px 3px
    border-width: 3px
    border-style: solid
    &.failed
      color: white !important
      border-color: $cider-ci-failed-color !important
      background-color: $cider-ci-failed-color !important
    &.pending,&.executing
      color: darkgray
      background-color: darkgray !important
      border-color: darkgray !important
    &.success
      color: white !important
      background-color: $cider-ci-success-color !important
      border-color: $cider-ci-success-color !important

ul.nested-inline
  display: inline
  >li
    display: inline
    


table.table.executions-table
  tr
    td.execution
      font-size: 125%
  tr.spacer
    height: 0.25em


.label-success
  background-color: $cider-ci-success-color !important

.label-failed        
  background-color: $cider-ci-failed-color !important

.label-executing
  @include striped-executing

.label-pending
  background-color: $cider-ci-pending-color !important




/*
 * This is a manifest file that'll be compiled  application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



@mixin text-ellipsis
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

.commit-id
  font-family: monospace
.short-commit-id 
  font-family: monospace
  @include text-ellipsis
  width: 4em

.bolder, .author, .commiter
  font-weight: bolder
.email
  font-family: monospace

ul.repositories
  li.repository
    margin-top: 1em
    ul.actions
      display: inline

textarea
  height: 7em

ul.commits
  li.commit
    margin-top: 0.5em
    margin-bottom: 0.5em


.subject 
  font-style: italic

tr.commit
  >td.id
    font-family: monospace
  >td.subject
  >td.authored_at, >td.authored_by
  

ul.executors
  >li.executor
    .host_port
      font-family: monospace


pre.script
  font-size: 75%
  line-height: 110%
  overflow: auto
  word-wrap: normal
  white-space: pre
