-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.


%h1 Create user

= form_for :user, url: admin_users_path, method: 'POST', html: {class: "form-horizontal"} do |form|
  = render 'form_items', form: form 

  = form_group "" do
    .pull-right
      = button_tag type: 'submit', class: "btn btn-primary" do
        Create


