-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

%h3 Branch #{branch.name}

%ul.list-unstyled.commits

  = render branch.current_commit.with_ancestors.limit(3), branch: branch, repository: repository

= link_to "more ...", workspace_branch_path(branch) 
 
