-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commits ||= @commits
- executions ||= @executions

.cider-ci.text-center
  %h1 Cider-CI at ZHDK 


  %h2 About Cider-CI
  %p
    %strong
      Cider-CI is an application and  service stack for highly parallelized testing and continuos integration.

