-#  Copyright (C) 2013, 2014 Dr. Thomas Schank  (DrTom@schank.ch, Thomas.Schank@algocon.ch)
-#  Licensed under the terms of the GNU Affero General Public License v3.
-#  See the LICENSE.txt file provided with this software.

- commits ||= @commits
- executions ||= @executions

.cider-ci.text-center

  - cache [WelcomePageSettings.find] do 
    #welcome_message
      =markdown(WelcomePageSettings.find.welcome_message)

  %hr 

  %h2 About Cider-CI

  %p#release-info
    Version  

    =Rails.configuration.release_info[:version_major]
    %span<>.
    =Rails.configuration.release_info[:version_minor]
    %span<>.
    =Rails.configuration.release_info[:version_patch]


  %p
    %strong
      Cider-CI is an application and service stack for highly parallelized testing and continuos integration.

  %p 
    Read more about Cider-CI on the 
    %a{href: "https://github.com/DrTom/cider-ci"} Cider-CI github project page.

